.todo {
  min-height: 100vh;
  width: 100%;
}
.todo__header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 25vh;
  background-color: #bb9981;
  margin-bottom: 30px;
}
.todo__input {
  padding: 10px 20px;
  border: none;
  outline: none;
  width: 80%;
  margin-bottom: 15px;
}
.todo__btn {
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}
.todo__main {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todoItem {
  margin: 10px 0px;
  width: 80%;
  padding: 20px;
  background-color: #e7d3c5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todoItem:hover {
  background-color: #ddc0ac;
}
.trashBtn {
  height: 20px;
  cursor: pointer;
  color: rgb(209, 59, 59);
}
@media screen and (max-width: 768px) {
  .todoItem {
    width: 100%;
  }
  .todo__input {
    width: 95%;
  }
}
